{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-4">Create a new listing</h1>
                    <small>It's free and easy!</small>
                <form action= "{% url 'new' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form }}
                    </div>
                    <input type="hidden" name="user" value="{{ user.id }}">
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>
    </div>
{% endblock %}