{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
        <ul>
        {% for listing in listings %}
            {% if not listing.closed %}
                <div class="col-md-6 col-top">
                    <div class="card">
                      {% if listing.image_url %}
                        <img src="{{ listing.image_url }}" class="card-img-top img-thumbnail" alt="Listing Photo">
                      {% endif %}
                      <div class="card-body">
                      <h5 class="card-title">{{ listing.title }}</h5>
                      <p class="card-text">{{ listing.description }}</p>
                      <p class="card-text">Current Price: ${{ listing.current_price }}</p>
                      <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Listing</a>
                      </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </ul>
    <a href="{% url 'new' %}">Create new listing</a>
{% endblock %}