{% extends "auctions/layout.html" %}
{% load static %}


{% block body %}
    <div style="margin: 8px">
    <h2>Active Listings</h2>
        <ul>
        {% for listing in listings %}
            {% if not listing.closed %}
                <div class="col-md-6 col-top">
                    <div class="card" style="margin: 16px">
                      {% if listing.image_url %}
                        <a href="{% url 'listing' listing.id %}">
                          <img src="{{ listing.image_url }}" class="card-img-top img-thumbnail" alt="Listing Photo">
                        </a>
                      {% endif %}
                      <div class="card-body">
                      <h5 class="card-title">{{ listing.title|upper }}</h5>
                      <p class="card-text">{{ listing.description }}</p>
                      <p class="card-text">Current Price: {{ listing.current_price }} €</p>
                      <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Listing</a>
                      </div>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
        </ul>
    <a href="{% url 'new' %}">Create new listing</a>
    </div>
{% endblock %}